header {
				padding: 30px 0 20px 0;
				margin:0 auto;
				width: 100%;
				overflow:auto;
				background-color: #f4cccc;
				
			}
			#logo{
				padding:10px;
				width:100px;
				float:left;
			}
			#sitetitle{
				width:500px;
				text-align: left;
				float: left;
				padding-right:0;

			}
			nav {
				height:50px;
				weight: 200px;
				float:right;
				margin:30px 10px 10px 10px;
			}
			nav ul{
				list-style-type: none;
				margin: 0;
				padding-top: 10px;
				padding-right: 10px;
				overflow: hidden;
				font-family: Arial, Helvetica, sans-serif;
			}
			nav li{
				padding:10px;
				display:inline-block;
				margin-left:20px;
				border:1px solid black;
				background-color:#faff94;

			}
			nav a{
				text-align: center;
				width:100px;
				font-weight:bold;
				text-decoration: none;
				color:black;
			}
			nav a:hover{
				border-bottom: 5px solid black;
			}
			body {
				background-color: lightblue;
			}
			.sitetitle {
				padding-top: 10px;
				font-family: "Arial", "Helvetica", sans-serif;
				color: red;	
				padding-left: 10px;
				width: 500px;
			}
			.know {
				color: yellow;
			}
			.binsya {
				color: blue;
				
			}
			.crumb {
				display:block;
				font-family: "Arial", "Helvetica", sans-serif;
				margin: 10px 0 0 10px;
				background-color:#faff94;
				padding: 20px 0 20px 0;
				width: 300px;
			}
			.audiodescrip{
				float: left;
				display:block;
				font-family: "Arial", "Helvetica", sans-serif;
				background-color:#faff94;
				padding: 20px 0 20px 0;
				width: 300px;
				margin: 0 0 0 10px;
			}
			audio{
				background-color:#faff94;
				width: 300px;
			}
			aside{
				background-color:#faff94;
				height:150px;
			}
			.home{
				background-color:#faff94;
				font-family: "Arial", "Helvetica", sans-serif;
				font-weight:bold;
				padding: 5px;
				text-decoration: none;
				padding: 10px;
			}

			.tablehead1, .tablehead2 {
				background-color : #faff94;
				font-family: "Arial", "Helvetica", sans-serif;
				border-top: 2px solid;
				border-bottom: 2px solid;
				text-align: center;
				border-radius:25px;
				padding:50px;
				
			}
			.tablehead2 {
				float:right;
				width:540px;
			}
			.tablehead1{
				float: left;
				width:550px;
			}
			.descrip1 {
				background-color : #a5ff9e;
				font-family: "Arial", "Helvetica", sans-serif;
				border: 2px solid black;
				padding:72px 50px;
				font-size: 20px;
				text-indent: 50px;
				border-radius:25px;
				height: 800px;
				margin: 0px;
				float: left;
				width:540px;
				
			}
			.descrip2 {
				background-color : #a5ff9e;
				font-family: "Arial", "Helvetica", sans-serif;
				border: 2px solid black;
				padding:50px;
				font-size: 20px;
				text-indent: 50px;
				border-radius:25px;
				margin: 0px;
				float: right;
				width:540px;
			
	}
.content{
	width: 1300px;
}
.heading {
	font-family: "Arial", "Helvetica", sans-serif;
	text-align: center;
	width: 1300px;	
}
#bottom{
	width: 1320px;
	overflow:auto;
	background-color:#f4cccc;
}
.boldinfos{
	width: 1320px;
}
footer{
	width:1320px;
	background-color:#f4cccc;
}
#boldinfo{
	background-color:#f4cccc;
	font-family: "Arial", "Helvetica", sans-serif;
	text-align: center;
	font-weight:bold;
	float: left;
	width: 440px;
	height: 25px;
}
.infosizes{
	width:1320px;
}
.infosize{
	background-color:#f4cccc;
	font-family: "Arial", "Helvetica", sans-serif;
	text-align: center;
	float: left;
	width:440px;
	height: 100px;
}			
			.fbsprite{
				background: url("../images/logos.png") no-repeat -169px -79px;
				width: 28px;
				height: 28px;
				float:left;
				margin-left: 130px;
				border-radius:14px;
			}
			.fbsprite:hover{
				background: url("../images/logos.png") no-repeat -169px -15px;
				width: 28px;
				height: 27px;
				float:left;

			}
			.twtsprite{
				background: url("../images/logos.png") no-repeat -268px -79px;
				width: 28px;
				height: 28px;
				float:left;
				border-radius:14px;
			}
			.twtsprite:hover{
				background: url("../images/logos.png") no-repeat -268px -15px;
				width: 28px;
				height: 28px;
				float:left;
			}
			.mailsprite{
				background: url("../images/logos.png") no-repeat -21px -79px;
				width: 28px;
				height: 28px;
				float:left;
				border-radius:14px;
			}
			.mailsprite:hover{
				background: url("../images/logos.png") no-repeat -21px -15px;
				width: 28px;
				height: 28px;
				float:left;
			}
			footer ul{
				list-style-type:none;
				margin:0;
				padding:0;
			}
			footer li{
				display:block;

			}
			footer a{
				margin: 20px;			
			}